.skills{
    padding: 1rem;
}

.skill__principal{
    width: 100%;
}

@media screen and (min-width: 768px){
    .skills{
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1200px){
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}