.menu__item{
    text-align: center;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background-color: var(--background-dark-bajo);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--fuente-oscura);
    font-weight: bold;
}

.menu__item:hover{
    border-color: var(--fuente-oscura);
    font-size:large;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--fuente-oscura);
    background-color: var(--fuente-clara);
}

.menu__link{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 450px) {
    .menu__item{
        width: 120px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 768px) {
    .menu__item{
        width: 120px;
    }
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1200px) {
    .menu__item{
        width: 150px;
    }
}