.tarjeta{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s;
}

.tarjeta__clara{
    background-color: var(--background-dark-bajo);
}
.tarjeta__oscura{
    background-color: var(--background-dark-alto);
}

.tarjeta__oscura:hover{
    border: none;
    background-color: var(--background-dark-alto);
}

.tarjeta__clara:hover{
    border: none;
    background-color: var(--background-dark-bajo);
}

.tarjeta__habilidad{
    width: 145px;
    height: 145px;
    margin: 5px;
    align-items: center;
}

.tarjeta__hobbie{
    background-color: var(--background-dark-alto);
    width: 145px;
    height: 145px;
    margin: 5px;
    align-items: center;
}

.tarjeta__hobbie:hover{
    background-color: var(--fuente-clara);
    text-decoration-color: black;
}

.tarjeta__habilidad:hover{
    background-color: var(--fuente-clara);
    color: black;
}

.tarjeta__imagen{
    height: 100px;
}

.tarjeta__imagen--hobbie{
    fill: var(--fuente-oscura);
    transition: all 0.5s;
}

.tarjeta__imagen--hobbie:hover{
    fill: var(--background-dark-alto);
}

.tarjeta__texto{
    color: var(--fuente-oscura);
    text-align: center;
}

.tarjeta--hobbie:hover{
    background-color: var(--background-dark-alto);
}

@media screen and (min-width: 760px){
    /**
    .tarjeta__clara{
        background-color: var(--background-dark-medio);
    }
    .tarjeta__clara:hover{
        background-color: var(--background-fondo);
    }
    .tarjeta__oscura{
        background-color: var(--background-dark-bajo);
    }*/
}