.formaciones{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    text-align: center;
}

.formaciones__container{
    width: 100%;
}

@media screen and (min-width: 768px){
    .formaciones{
        padding-inline: 2rem;
    }

    .formaciones__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}