.proyectos{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
    text-align: center;
    background-color: var(--background-dark-medio);
}

@media screen and (min-width: 768px){
    .proyectos{
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}